<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PhishNet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div class="header"> 
            <h1> PhishNet </h1>
            <form action='/search'>
                <input name="search-input" class="search" type="text" placeholder="Enter an email or phone number..." autocomplete="off">
            </form>
        </div>
        <div id="box-container">
            <div class="box">
                <h1> hello bob, you are not being scammed right now </h1>
            </div>
        </div>
    </body>
</html>